{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

{% block extra_css %}

{% endblock %}
<head>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
    </style>
</head>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dlaz6yghz/image/upload/v1688405073/static/media/pen_pexels.25cfd9269d90.jpg" class="d-block w-100" alt="An expensive pen in good lighting">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dlaz6yghz/image/upload/v1688405071/static/media/past_pexels.62a76146fdda.jpg" class="d-block w-100" alt="An archway under an old structure, with pillars on each side and sun spilling in">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dlaz6yghz/image/upload/v1688405014/static/media/book_pixabay.fe17dd8e7d84.jpg" class="d-block w-100" alt="An open book">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 class="container-fluid border border-primary" style="background-color:peachpuff; 
color:blueviolet; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">MeDLeY</h1>
<div class="container">
    <h3 class="container-fluid border border-primary" style="background-color:peachpuff;">Duly noted</h3>
    <p class="container-fluid" style="background-color:peachpuff;">
        <div style="background-color:peachpuff;">Press the button below to bring up random FootNotes<sup>x</sup> deposited to our database by our users.
        See how inspiration is all around us, all we have to do is make note!
        Don't walk in somebody else's <em style="color:black">foot</em>steps, but do heed their <em style="color:black">Foot</em>Notes!<sup>x</sup>
        </div>
        <div class="container-fluid" style="background-color:peachpuff;">
        <a href="{% url 'medley:medley' %}">
        <button type="button" class="btn btn-outline-primary btn-lg">Medley!</button>
        </a>
        <div class="cloud" style="background-color:peachpuff; font-family: 'Roboto Mono', monospace; justify-content:center;">{{ random_footnote }}
        </div>
    </p>
</div>
<hr>

<div>
<p >
    <h3 class="container-fluid" style="background-color:peachpuff;">Samuel Beckett
    <i style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Ever tried. Ever failed. No matter. Try again. Fail again. Fail better.</i>
    <a href="https://en.wikipedia.org/wiki/Samuel_Beckett" target="_blank">
        <img class="card-img-top" style="height:200px; width:200px; border-radius:50%" src="{% static 'media/failure_pexels.jpg' %}"
            alt="A solemn looking young man looking downwards while seated">
    </a>
</p></h3>
</div>
<div>
<p>
    <h4 class="container mt-6" style="background-color:peachpuff;">
    <a href="https://en.wikipedia.org/wiki/John_Grisham" target="_blank">
            <img class="card-img-top" style="height:200px; width:200px; border-radius:50%" src="{% static 'media/past_pexels.jpg' %}"
                alt="An archway under an old structure, with pillars on each side and sun spilling in">
    </a>
        'The Street Lawyer' by John Grisham
    <i style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">I didn't dare think of the future; the past was still happening.</i>
</p></h4>
</div>
<div>
<p>
    <h5 class="container mt-6" style="background-color:peachpuff;">'The Mai' by Marina Carr
    <i style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">The name alone evokes a thousand memories in me.</i>
    <a href="https://en.wikipedia.org/wiki/Marina_Carr" target="_blank">
        <img class="card-img-top" style="height:200px; width:200px; border-radius:50%" src="{% static 'media/memories_pexels.jpg' %}"
            alt="Two young girls who appear to be looking behind them, into the sunlight">
    </a>
</p></h5>
</div>

{% endblock%}