<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
</style>

body {
    background-color: #8da8de;
    font-family: 'Dancing Script', cursive;
}

.x {
    color: :#0b0909;
}

.navbar-text {
    color: #a410e8;
}

.brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
    font-weight: 700;
}

.odd {
    color: #a410e8;
}

.thin {
    font-weight: 300;
    color:#0b0909;
}

.idea {
    font-weight: 300;
    color:#a410e8;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: peachpuff;
    justify-content: center;
    display: flex;
    font-weight: 300;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: centre;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #9d23bb;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    display: flex;
    justify-content: centre;
}

.masthead-text {
    color: rgb(58, 0, 128);
    background-color:#a410e8;
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    height: 33vh;
    width: 33vw;
    border-radius: 50%;
    display: flex;
    justify-content: centre;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #8a367f;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.idea-link {
    text-decoration: none;
    color: #554461;
    font-family: 'Dancing Script', cursive;
}

.idea-link:hover,
.idea-link {
    color: #b610e8;
    font-family: 'Dancing Script', cursive;
}

.idea-title {
    margin-top: 20%;
    margin-left: 5%;
    font-family: 'Dancing Script', cursive;
}

.idea-subtitle {
    margin-left: 5%;
    color: lightgray;
    font-family: 'Dancing Script', cursive;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #0b0909;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #10e842;
    background: transparent;
    border: none;
}

.row {
    font-family: 'Dancing Script', cursive;
    color: #b610e8;
}

.fa-heart {
    color: #23BBBB;
    text-decoration: none;
}

.fa-heart:hover,
.fa-heart:active {
    color: #e810cf;
    background: transparent;
    border: none;
}
 
/* Footprint design */

.ajax-loader{
position: relative;
margin-left: 40%;
margin-right:40%;
/*margin-bottom: 5rem;*/
opacity: 20%;
}

/* Footer*/
.footer {
margin-top: 20px;
}
