{% extends 'base.html' %}
{% load static %}
{% block title %} Create an Idea {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Create a new idea -->
{% if user.is_authenticated %}
<div class="container text-center mt-5 md-1">
   <h1> Create an idea</h1>
</div>
<br />
<div class="form-group">
   <form method="POST">
      {% csrf_token %}
      {{ idea_form }}
      <div class="col text-center">
         <button class="btn btn-lime mt-2 mb-5" type="submit">Create Idea</button>
      </div>
   </form>
</div>
{% else %}
<h3>Please register and login to view this page...</h3>
{% endif %}
{% endblock %}