<div class="col-lg-6 col-md-10 mt-2 ">
    <form method="POST" class="px-3" id="idea-form">
      {% csrf_token %}
        <table class="table table-borderless mb-0">
          <tbody>
            <tr>
              <th scope="row">Name:</th>
              <td class="fw-bold text-capitalize">{{ idea.user.username }}</td>
            </tr>
            <tr>
              <th scope="row">Idea:</th>
              <th><span class="d-none"> form idea</span>
                <label for="id_default_gender" style="color:#a410e8"> Gender <i class="fa-solid fa-person-half-dress"></i></label>
                <span class="d-none"> form gender</span>{{ form.default_gender|as_crispy_field }}
              </th>
            </tr>
        </table>
    </form>
    <div class="d-flex justify-content-end px-4">
      <button class="btn-dark p-1 px-2 fw-bold " type="submit" form="writerprofile-form">
        Submit idea
        <i class="bi bi-person"></i>
      </button>
    </div>
  </div>
</div>
</div>