{% extends 'base.html' %}{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="idea-title">
                    {{ idea.title }}
                </h1>
                <p class="idea-subtitle">{{ idea.author }} | {{ idea.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in idea.featured_image.url %}
                    <img class="card-img-top" src="https://res.cloudinary.com/dlaz6yghz/image/upload/v1678824647/preview16_xlwjzw.jpg" width="80%">
                {% else %}
                <img class="card-img-top" src=" {{ idea.featured_image.url }}" width="80%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="thin">
                    {{ idea.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'idea_like' idea.slug %}" method="POST"> 
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="appidea_id" value="{{idea.slug}}" class="btn-like"><i class="fas fa-check"></i></button>
                                    {% else %}
                                    <button type="submit" name="appidea_id" value="{{idea.slug}}" class="btn-like"><i class="fas fa-check"></i></button>
                                    {% endif %} 
                            </form>
                                {% else %}
                                <span class="text-secondary"><i class="fas fa-check"></i></span>
                                {% endif %}
                        <span class="text-secondary">{{ idea.number_of_likes }} </span> 
                    </strong>

                    </div>
                    <div class="col-1">
                        {% with footnotes.count as total_footnotes %}
                        <strong class="text-secondary"><i class="fas fa-solid fa-superscript"></i>
                            {{ total_footnotes }}
                        </strong>
                        {% endwith %}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3><span class="brand"><span class="odd">Foot</span><span
                class="thin">Notes<sup> i, ii, iii</sup></span></span></h3>
            <div class="card-body">
                {% for footnote in footnotes %}
                <div class="footnotes" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ footnote.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ footnote.created_on }}
                        </span> noted <i class="fa-solid fa-shoe-prints"></i>:
                    </p>
                <div id="footnote{{ footnote.id }}" class="thin">  {{ footnote.content | linebreaks }} </div>

                    {% if user.is_authenticated and footnote.name == user.username %}
                        <button class="btn btn-delete" footnote_id="{{ footnote.id }}">Delete</button>
                        <button class="btn btn-edit" footnote_id="{{ footnote.id }}">Edit</button>
                    {% endif %}
                {% endfor %}
            </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if footnoted %}
                <div class="alert alert-success" role="alert">
                    Your FootNote was submitted
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3><span class="odd">Foot</span><span class="thin">Note</span><span class="x"><sup>x</sup></span></span>:</h3>
                <p>FootNote by: {{ user.username }}</p>
                <form id="footnoteForm" method="post" style="margin-top: 1.3em;">
                    {{ footnote_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Foot<span class="thin">Note</span><sup>x</sup></button>
                </form>
                {% endif %} 
                {% endif %} 
            </div>
        </div>
    </div>
</div>

<!--Defensive programming-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete footnote?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your footnote? 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
{% load static %}
<script src="{% static 'js/footnotes.js' %}"></script>
{% endblock extras %}