{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 


{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'writer_profile/css/writerprofile.css' %}">
{% endblock %}

<h1 class="text-center my-3">My Writer Profile</h1>
<div class="container-fluid">
  <div class="row mx-auto mb-4">
    <div class="col-lg-6 col-md-12 mt-2">
      <!-- accordion feature -->
      <div class="accordion" id="footnote-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button">
              <strong>FootNote History </strong>({{ footnotes.content }})
            </button>
          </h2>
        </div>
              <div class="wrapper">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Content</th>
                          <th scope="col">Date</th>
                        </tr>
                    </thead>
                  <tbody>
                    {% for item in footnote.lineitems.all %}
                      <tr>
                          <td>{{ item.footnote.content }}({{ item.content }})</td>
                          <td>€{{ item.footnote.created_on }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

      <!-- accordion -->
    </div>
    <div class="col-lg-6 col-md-10 mt-2 ">
      <form method="POST" class="px-3" id="writerprofile-form">
        {% csrf_token %}
          <table class="table table-borderless mb-0">
            <tbody>
              <tr>
                <th scope="row">Name:</th>
                <td class="fw-bold text-capitalize">{{ writer_profile.user.username }}</td>
              </tr>
              <tr>
                <th scope="row">Gender:</th>
                <th>
                  <label for="id_default_gender">default_gender</label>
                  <span class="d-none"> form gender</span>{{ form.default_gender|as_crispy_field }}
                </th>
              </tr>
              <tr>
                <th scope="row">Town or City:</th>
                <th>
                  <label for="id_default_town_or_city">default_town_or_city</label>
                  <span class="d-none"> form town_or_city</span>{{ form.default_town_or_city|as_crispy_field }}
                </th>
              </tr>
              <tr>
                <th scope="row">Writing type | Genre</th>
                <th><span class="d-none"> form writing type and genre</span>
                  <label for="id_default_writingtype">default_writingtype</label>
                  {{ form.default_writingtype|as_crispy_field }}
                  <label for="id_default_genre">default_genre</label>
                  {{ form.default_genre|as_crispy_field }}
                </th>
              </tr>
              <tr>
                <tr>
                    <th scope="row">Fave Writer:</th>
                    <th>
                      <label for="id_default_favouriteauthor">default_favouriteauthor</label>
                      <span class="d-none"> form favouriteauthor</span>{{ form.default_favouriteauthor|as_crispy_field }}
                    </th>
                  </tr>
                <th scope="row">Town or City:</th>
                <th>
                  <label for="id_default_town_or_city">default_town_or_city</label>
                  <span class="d-none"> form town_or_city</span>{{ form.default_town_or_city|as_crispy_field }}
                </th>
              </tr>
              <tr>
                <th scope="row">Country</th>
                <th>
                  <label for="id_default_country">default_country</label>
                  {{ form.default_country|as_crispy_field }}
                </th>
              </tr>
            </tbody>
          </table>
      </form>
      <div class="d-flex justify-content-end px-4">
        <button class="btn-dark p-1 px-2 fw-bold " type="submit" form="writerprofile-form">
          Update profile
          <i class="bi bi-person"></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}