{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 


{% block content %}

<link rel="stylesheet" href="{% static 'writer_profile/css/writerprofile.css' %}">


<h1 class="text-center my-3" style="color:#a410e8;">My Writer Profile</h1>
<div class="container-fluid" style="background-color:peachpuff">
  <div class="row mx-auto mb-4">
    <div class="col-lg-6 col-md-12 mt-2">

<!-- Profile form section -->
<div>
  <div class="col-lg-6 col-md-10 mt-2 ">
  <form method="POST" class="px-3" id="writerprofile-form">
  {% csrf_token %}
  <table class="table table-borderless mb-0">
  <tbody>
    <tr>
      <th scope="row">Name:</th>
      <td class="fw-bold text-capitalize">{{ writer_profile.user.username }}</td>
    </tr>
    <tr>
      <th scope="row">Gender:</th>
      <th><span class="d-none"> form gender</span>
        <label for="id_default_gender" style="color:#a410e8"> Gender <i class="fa-solid fa-person-half-dress"></i></label>
        <span class="d-none"> form gender</span>{{ form.default_gender|as_crispy_field }}
      </th>
    </tr>
    <tr>
      <th scope="row">Writing type | Genre </th>
      <th><span class="d-none"> form writing type and genre</span>
        <label for="id_default_writingtype" style="color:#a410e8">Writing Style <i class="fa-solid fa-feather"></i></label>
        {{ form.default_writingtype|as_crispy_field }}
        <label for="id_default_genre" style="color:#a410e8">Fave Genre <i class="fa-solid fa-masks-theater"></i></label>
        {{ form.default_genre|as_crispy_field }}
      </th>
    </tr>
    <tr>
      <tr>
          <th scope="row">Fave Writer:</th>
          <th>
            <label for="id_default_favouriteauthor" style="color:#a410e8">Fave Writer <i class="fa-solid fa-crown"></i></label>
            <span class="d-none"> form favouriteauthor</span>{{ form.default_favouriteauthor|as_crispy_field }}
          </th>
        </tr>
      <th scope="row">Town or City:</th>
      <th>
        <label for="id_default_town_or_city" style="color:#a410e8">Town or City <i class="fa-solid fa-map-pin"></i></label>
        <span class="d-none"> form town_or_city</span>{{ form.default_town_or_city|as_crispy_field }}
      </th>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <th>
        <label for="id_default_country" style="color:#a410e8">Country <i class="fa-solid fa-globe"></i></label>
        {{ form.default_country|as_crispy_field }}
      </th>
    </tr>
  </tbody>
  </table>
  </form>
  <div class="d-flex justify-content-end px-4">
  <button class="btn-dark p-1 px-2 fw-bold " type="submit" form="writerprofile-form">
  Update profile
  <i class="bi bi-person"></i>
  </button>
  </div>
  </div>
  </div>
  </div>
  </div>

    </div>
    </div>
      <hr>

      <!-- collapsible feature from bootstrap-->
      <div class="container-fluid" style="background-color:peachpuff">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" 
            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong style="margin-left: 20%;">FootNote Log <i class="fa-solid fa-shoe-prints"></i> </strong>{{ footnote.content | linebreaks }}
            </button>  
          </h2>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <table class="accordion-body">
                    <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col" style="color:#a410e8;">Idea:</th>
                          <th scope="col" style="color:#a410e8;;">Content:</th>
                          <th scope="col" style="color:#a410e8;">Date:</th>
                          <th scope="col" style="color:#a410e8;;">By:</th>
                          <th scope="col" style="color:#a410e8;">Delete:</th>
                        </tr>
                    </thead>
                  <tbody>
                    <tr>
                    <td></td>
                    <td scope="col" style="color:black; font-family:Arial, Helvetica, sans-serif;">What wast the  idea?</td>
                    <td scope="col" style="color:black;font-family:Arial, Helvetica, sans-serif;">What didst  the  footnote  sayeth?</td>
                    <td scope="col" style="color:black;font-family:Arial, Helvetica, sans-serif;">At which hour wast  the  footnote  hath made?</td>
                    <td scope="col" style="color:black;font-family:Arial, Helvetica, sans-serif;">Who wroteth  the  footnote?</td>
                    <td scope="col" style="color:black;font-family:Arial, Helvetica, sans-serif;">Out damned footnote!</td>

      </tr>
              <div>
                    <tr>
                    {% for footnote in footnotes %}
                          <td></td>
                          <td style="color:#a410e8;">{{ footnote.idea}}</td>
                          <td>{{ footnote.content }}{{ content }}</td>
                          <td style="color:#a410e8;">{{ footnote.created_on }}</td>
                          <td>{{ footnote.name }}</td>
                          <td><a href="">
                           <div class="stars"><a>⭐</a>
                            <a>⭐</a>
                            <a>⭐</a>
                            <a>⭐</a>
                            <a>⭐</a>
                            </div>
                        </td>
                            
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
      </div>
      </div>
      <script src="writerprofile.js"></script>
      <script>
          document.write()
      </script>
{% endblock %}