:root {
    --white: #fff;
    --black: purple;
    --dark:#332D2D;
    --hover-active:red;
  }

 /*
.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--white);
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
*/

.wrapper {
        font-weight: 300;
        color:#a410e8; 
}

