{% extends 'base.html' %}{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="idea-title">
                    {{ idea.title }}
                </h1>
                <p class="idea-subtitle">{{ idea.author }} | {{ idea.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in idea.featured_image.url %}
                <img src="https://res.cloudinary.com/dlaz6yghz/image/upload/v1678824647/preview16_xlwjzw.jpg" width="80%">
                {% else %}
                <img src="" width="80%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ idea.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'idea_like' idea.slug %}" method="POST"> 
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="appidea_id" value="{{idea.slug}}" class="btn-like"><i class="fas fa-check"></i></button>
                                    {% else %}
                                    <button type="submit" name="appidea_id" value="{{idea.slug}}" class="btn-like"><i class="fas fa-check"></i></button>
                                    {% endif %} 
                            </form>
                                {% else %}
                                <span class="text-secondary"><i class="fas fa-check"></i></span>
                                {% endif %}
                        <span class="text-secondary">{{ idea.number_of_likes }} </span> 
                    </strong>

                    </div>
                    <div class="col-1">
                        {% with footnotes.count as total_footnotes %}
                        <strong class="text-secondary"><i class="fas fa-solid fa-superscript"></i>
                            {{ total_footnotes }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3><span class="brand"><span class="odd">Foot</span><span
                class="thin">Notes<sup> i, ii, iii</sup></span></span></h3>
            <div class="card-body">
                {% for footnote in footnotes %}
                <div class="footnotes" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ footnote.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ footnote.created_on }}
                        </span> noted:
                    </p>
                    {{ footnote.content | linebreaks }}
                </div>
                {% endfor %}
            </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if footnoted %}
                <div class="alert alert-success" role="alert">
                    Your FootNote was submitted
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3><span class="odd">Foot</span><span class="thin">Note</span><span class="x"><sup>x</sup></span></span>:</h3>
                <p>FootNoted by: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ footnote_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Foot<span class="thin">Note</span><sup>x</sup></button>
                </form>
                {% endif %}
                {% endif %} 
            </div>
        </div>
    </div>
</div>

{% endblock content %}