 <!-- Template inheritance -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Idea Entries Column-this is a Bootstrap row-Summary tab -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for idea in idea_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in idea.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dlaz6yghz/image/upload/v1678824647/preview16_xlwjzw.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ idea.featured_image.url }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'idea_detail' idea.slug %}" class="idea-link">
                                <h2 class="card-title">{{ idea.title }}</h2>
                                <p class="card-text">{{ idea.excerpt }}</p>
                            </a>
                            <hr/>
                            <p class="card-text text-muted h6">{{ idea.created_on}} <i class="far fa-heart"></i>
                                {{ idea.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS BUNCH</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT LOT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}

